---
layout: archive
---

<h3 id="summary">Summary</h3>
<ul>
  <li>4 years of experience in an engineering role</li>
  <li>Bachelor&#39;s of Engineering from <a href="https://www.uwo.ca/index.html">Western University</a></li>
  <li>Proficient in all major programming languages</li>
  <li>Hand-on experience in Event Streaming, Azure, Monitoring, and Software Design</li>
  <li>Experience in enterprise and startup environments</li>
</ul>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
