
body {
  background-color: #282c34 !important;
  scroll-behavior: smooth;
}


.cover-wrapper {
  display: inline-block; /* change the default display type to inline-block */
    overflow: hidden; 
   
}
@keyframes zoom-effect {
 0%   {
    transform: scale(1) rotate(0deg);}
 100% {
    transform: scale(4) rotate(360deg);}
}
.cover {
  background: url('./images/mountains1.JPG') no-repeat;
  object-fit: fill;
  height: 100vh;
  width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cover h1 {
  font-size: 8vh;
}
.hidden-text{
  color: #282c34;
}
.pointer-ico{
  cursor: pointer;
}
.center-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.bottom-cover {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);


}
.App-header {
  /*background-image: #282c34;*/
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.below-cover {
  
  max-height: 100vh;
  color: #282c34;
}
.below-cover h2 {
  color: white;
}
.icon-photo {
  width: 10vh;
  height: 10vh;
  padding:0px
}
noline-header {
   white-space: nowrap;
}
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */



/*
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flip-table { 
    border-collapse: separate;
    width: auto;
margin-left: auto;
    margin-right: auto;
}
.flip-table td {
    display: inline-block;  
    margin-left: auto;
    margin-right: auto; 
}
.flip-table tr {
    display: block;
margin-left: auto;
    margin-right: auto; 
}


.center {
  margin-left: auto;
  margin-right: auto;
} */

/*
background{ 
  image-url('background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
  */